:root {
    --cor-de-fundo: #ffbf95;
    --cor-cabecalho: #ffbf95;
    --fundo-menu: #f56f3a;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-de-fundo);
    text-align: center;
}

.cabecalho-titulo {
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-align: center;
}

.cabecalho-menu {
    background-color: var(--fundo-menu);
}

.cabecalho-menu-item {
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: nome;
    color: black;
    text-align: center;
    border-top: 1px solid;
}

.Menuu {
    width: 180px;
}